<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.white.mapper.ArticleMapper">

    <insert id="saveOrUpdateConArticleTag" useGeneratedKeys="true">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            select count(*) from con_article_tag where ARTICLE_ID=#{articleId}
        </selectKey>
        <if test="count>0">
            <foreach collection="tagIdList" separator="," item="item">
                update
                con_article_tag a
                set a.TGA_ID=#{item}
                where a.ARTICLE_ID=#{articleId}
            </foreach>
        </if>
        <if test="count==0">
            insert
            con_article_tag(ARTICLE_ID,TAG_ID)
            values
            <foreach collection="tagIdList" separator="," item="item">
                (#{articleId},#{item})
            </foreach>
        </if>
    </insert>
</mapper>
