<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.white.mapper.ArticleMapper">

    <insert id="saveOrUpdateConArticleTag" useGeneratedKeys="true">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            select count(*) from con_article_tag where ARTICLE_ID=#{articleId}
        </selectKey>
        <if test="count>0">
            <foreach collection="tagIdList" separator=";" item="item">
                insert into con_article_tag ( ARTICLE_ID, TAG_ID )
                select #{articleId},#{item}
                from dual
                where
                not exists (
                    select *
                    from con_article_tag a
                    where
                        a.ARTICLE_ID = #{articleId} and
                        a.TAG_ID = #{item}
                )
            </foreach>
        </if>
        <if test="count==0">
            insert
            con_article_tag(ARTICLE_ID,TAG_ID)
            values
            <foreach collection="tagIdList" separator="," item="item">
                (#{articleId},#{item})
            </foreach>
        </if>
    </insert>



    <delete id="deleteArticleById">
        delete tb_article, con_article_tag
        from tb_article
        inner join con_article_tag on tb_article.ID = con_article_tag.ARTICLE_ID
        where tb_article.ID = #{articleId}
    </delete>

    <!--因为ArticleListDTO是Article的子集,所以可以直接select * 结果用ArticleListDTO来承接-->
    <select id="listArticlePage" resultType="com.white.dto.ArticleListDTO">
        select *
        from tb_article a
        order by a.UPDATE_TIME desc
        <if test="articleTitle != null and articleTitle != '' ">
            and a.TITLE like concat(concat('%',#{articleTitle}),'%')
        </if>
        limit #{sqlQueryNumber},#{pageSize}
    </select>


    <select id="homePageArticles" resultType="com.white.entity.Article">
        select *
        from tb_article a
        where a.STATUS=1
        order by a.UPDATE_TIME desc
        limit #{sqlQueryNumber},#{pageSize}
    </select>

    <select id="getArticlesByCategory" resultType="com.white.entity.Article">
        select *
        from tb_article a, tb_category b
        where a.STATUS=1 and
        a.CATEGORY_ID=b.ID and
        b.CATEGORY = #{categoryName}
        order by a.UPDATE_TIME desc
        limit #{sqlQueryNumber},#{pageSize}
    </select>

    <select id="isExistArticleId" resultType="java.lang.Integer">
        select
        count(a.ARTICLE_ID)
        from con_article_tag a
        where a.ARTICLE_ID=#{articleId}
    </select>



    <insert id="updateConArticleTag">
        insert ignore into
        con_article_tag(ARTICLE_ID,TAG_ID)
        values
        <foreach collection="tagIdList" separator="," item="item">
            (#{articleId},#{item})
        </foreach>
    </insert>
    <insert id="insertConArticleTag">
        insert
        con_article_tag(ARTICLE_ID,TAG_ID)
        values
        <foreach collection="tagIdList" separator="," item="item">
            (#{articleId},#{item})
        </foreach>
    </insert>


    <!--    <select id="getArticleById" resultType="com.white.entity.Article">-->
<!--        select-->
<!--        a.ID,-->
<!--        a.TITLE,-->
<!--        a.PICTURE,-->
<!--        a.CATEGORY_ID,-->
<!--        a.CONTENT,-->
<!--        a.CREATE_TIME,-->
<!--        a.UPDATE_TIME,-->
<!--        a.IS_TOP,-->
<!--        a.IS_DRAFT-->
<!--        from tb_article a-->
<!--        where a.ID = #{articleId}-->
<!--    </select>-->

</mapper>
