<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.white.mapper.UserMapper">

    <select id="getUserRolesByUserId" resultType="java.lang.String">
        select ROLE_NAME
        from con_role_user a, tb_role b
        where a.ID=#{id} and b.ID=#{id}
    </select>
    <select id="getUserByCondition" resultType="com.white.dto.UserDTO">
        select
        a.ID,
        a.AVATAR,
        a.NICK_NAME,
        a.CREATE_TIME,
        a.UPDATE_TIME,
        a.IS_SILENCE
        from tb_user a,tb_role b,con_role_user c
        where
        a.ID=c.USER_ID and
        b.ID=c.ROLE_ID
        <if test="userQueryVO.roleName!=null and userQueryVO.roleName!='' ">
            and b.ROLE_NAME=#{userQueryVO.roleName}
        </if>
        <if test="userQueryVO.nickName!=null and userQueryVO.nickName!='' ">
            <!--模糊查询-->
            and a.NICK_NAME like concat(concat('%',#{userQueryVO.nickName}),'%')
        </if>
        <!--用户列表分页  limit#{startindex},#{pagesize}-->
        limit #{userQueryVO.sqlQueryNumber},#{userQueryVO.pageSize}
    </select>
</mapper>
